%section.info
  .container.order-pad-top
    .row.justify-content-md-center
      .col-md-8
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tellus ligula. Suspendisse velit diam, interdum sed ullamcorper a, efficitur eu ante. Fusce vitae lorem in tortor placerat dictum ac eget nisi. In aliquet ligula sed risus commodo, a placerat nisi sollicitudin. Curabitur eu tortor ut tortor venenatis congue. Cras vitae dictum metus. Cras at turpis purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque at ligula ac est varius iaculis. Proin pellentesque lorem nec eros sollicitudin, vitae sagittis risus imperdiet. Donec ullamcorper purus sapien, sit amet sollicitudin ex rhoncus eu. Pellentesque sed nibh elit. Proin sit amet gravida dolor.
        %p
          Maecenas volutpat efficitur metus eu convallis. Mauris nec dignissim augue. Nunc placerat nunc eget rutrum pharetra. Aliquam ante justo, aliquet mollis nisl non, imperdiet cursus nibh. Mauris sollicitudin nisl interdum nulla tempus, non ornare mauris porta. Aenean quis accumsan urna. Nulla vulputate mi leo, eget pharetra lacus volutpat non. Praesent viverra scelerisque neque, eu pharetra ex pharetra non. Morbi rhoncus nisl ac pharetra congue. Aliquam erat volutpat. Cras scelerisque urna vel interdum rutrum. Duis volutpat consectetur tellus ut scelerisque. Aliquam elementum ex eget ipsum dictum feugiat. Phasellus in lacus odio. Mauris quis nisi cursus, luctus augue ac, elementum odio. In ac dui ultrices, aliquam dui non, euismod purus.
        %p
          Vivamus vitae maximus arcu. Nullam euismod tortor varius sapien tincidunt, vitae fermentum lorem condimentum. Proin vitae augue quis risus finibus imperdiet. Nam et tortor laoreet, porttitor justo et, egestas eros. Fusce bibendum enim nec purus facilisis, eu tristique neque dignissim. Aenean facilisis mauris nisl. Morbi sodales maximus metus vel dignissim. Pellentesque fermentum purus sit amet diam elementum pellentesque. Mauris ipsum dolor, tempus et mi sed, consectetur pulvinar tellus.
        %p
          Proin aliquam, tellus eu sollicitudin malesuada, lectus lacus fringilla ante, vitae tincidunt nibh massa quis ipsum. Vivamus euismod erat lorem, ut dignissim mauris placerat sit amet. Fusce sit amet tincidunt enim, sit amet lobortis lacus. Mauris odio nisi, vehicula non orci a, auctor volutpat eros. Duis ullamcorper, ligula ut convallis tristique, quam sem laoreet felis, vestibulum pretium lorem quam eu est. Nam porta est ex, eget accumsan ipsum venenatis at. Cras ex lectus, pulvinar vitae tellus eget, varius tempor justo. Nam maximus sapien ligula. Vestibulum molestie nec orci facilisis eleifend. Donec id scelerisque tellus. Proin ut nunc lectus. Phasellus facilisis porta alique
%footer.text-center.footer-order
  .footer-top
    .container
      .row
        .footer-col.col-md-6
          %h6
            = link_to t('affiliates'), affiliates_path
        .footer-col.col-md-6
          %h6
            = link_to t('about_us'),about_path
  .footer-below
    .container
      .row
        .col-md-12
          = t('rights')

