h1{
    color: black;
}
h3 {
    color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.head{
    color: white;
    background-color: black;
    border: 1px solid black
}
.body{
    color: black
}
