!!!
%html
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv': 'Content-Type'}/
    :css
      h1{
      color: black;
      }
      h3 {
      color: black;
      }
      table {
      border-collapse: collapse;
      width: 60%;
      }
      .head{
      color: white;
      background-color: black;
      border: 1px solid black;
      }
      .body{
      color: black;
      }
      .invoice-report{
      color: black;
      }
      .blue-color{
      color: blue;
      }
      li {
        color: black;
      }
  %body
    = yield
